@page "/"
    <div>
        <div class="kibzee-h1">Welcome to Kibzee!</div>
        <br />
        <div width="20%" height="auto" align="center"><img src="img/violin-pegs.jpg" alignment="center" border-radius="20%" /></div>
        <br />
        <div class="kibzee-h2" width="65%">
            You have found the web's best home for student musicians.<br />
            Login or Register to be part of our supportive community of artists.<br />
            Share your recordings, explore opportunities and manager your schedule inside.
        </div>
    </div>
